:root {
  scroll-behavior: smooth;
}

html,body {
 text-align: center;
 font-family: "Comic Sans MS";
 padding: 20px;
}

p {
  line-height: 1.5;
}

h3 {
  padding-top: 20px;
  color: red;
}

.button {
  display: block;
  margin: auto;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

.score {
  color: green;
  text-align: center;
  font-family: Comic Sans MS;
  font-weight: bold;
  border: 3px solid green;
  margin: auto;
  padding: 10px;
  width: 150px;
  margin-top: 10px;
  margin-bottom: 50px;
}
