body,pre {
 text-align: center;
 font-family: "Comic Sans MS";
 padding: 25px;
}

a:link, a:visited {
  color: #0000ee;
  text-decoration: none;
}

pre {
  font-family: Arial,Sans-Serif;
  white-space: pre-wrap;
  line-height: 1.5;
}

h3 {
  padding-top: 20px;
  color: red;
}

.score {
  color: green;
  text-align: center;
  font-family: Comic Sans MS;
  font-weight: bold;
  border: 3px solid green;
  margin: auto;
  padding: 10px;
  width: 150px;
  margin-top: 10px;
  margin-bottom: 50px;
}
